*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
  display: grid;
  border: solid 5px black;
  width: 80%;
  height: 80%;
  min-height: 600px;
  margin: 0 auto;
  margin-top: 5vh;
  background-color: rgb(0, 255, 179);
  border-radius: 40px;
  color: var(--fontcolor);
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "monitor monitor monitor monitor"
  "monitor monitor monitor monitor"
  "ac sign percent divide"
  "seven eight nine multiply"
  "four five six minus"
  "one two three plus"
  "zero zero dot equals"
  ;
  div{
      background-color:var(--navbackgroundcolor);
      border-radius: 300px;
      font-size: calc(6vh);
      height: 90%;
      text-align: center;
      cursor: pointer;
      border: solid 5px black;
      p{
          display: inline-block;
          margin-top: calc(1vw);
          color: var(--fontcolor)
      }
  }
  div:active{
      background-color: var(--fontcolor);
      p{
      color: var(--navbackgroundcolor);
      }
  }
  .monitor{
      grid-area: monitor;
  }
  .one{
      grid-area: one;
  }
  .two{
      grid-area:two;
  }
  .three{
      grid-area:three;
  }
  .four{
      grid-area:four;
  }
  .five{
      grid-area:five;
  }
  .six{
      grid-area:six;
  }
  .seven{
      grid-area:seven;
  }
  .eight{
      grid-area:eight;
  }
  .nine{
      grid-area:nine;
  }
  .minus{
      grid-area:minus;
  }
  .plus{
      grid-area:plus;
  }
  .multiply{
      grid-area: multiply;    
  }
  .divide{
      grid-area: divide;
  }
  .equals{
      grid-area: equals;
  }
  .ac{
      grid-area:ac;
  }
  .dot{
      grid-area:dot;
  }
  .percent{
      grid-area:percent;
  }
  .sign{
      grid-area:sign;
  }
  .zero{
      grid-area:zero;
  }

}

